/* v1.2.121 _sass/_theming.scss */

/* 
    .theme-bg-{color}
*/
@each $name,$value in $theme-colors {
    .theme-bg-#{$name} {
        background-color: $value;
    }
}

/* 
    .theme-bg-{image} 
*/
@each $name,$value in $theme-images {
    .theme-bg-#{$name} {
        background: url('#{$value}');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

/* 
    .theme-bg-{image}-fixed
*/
@each $name,$value in $theme-images {
    .theme-bg-#{$name}-fixed {
        background: url('#{$value}/') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

/* 
    .theme-text-{color}
*/
@each $name,$value in $theme-colors {
    .theme-text-#{$name} {
        color: $value;
    }
}

// todo!  migrate the patterns in theme 
.theme-pattern-dr {
    background: url('/assets/images/secondary-pattern.png'), linear-gradient(to left, #4C5657, #253036);
}

/*
a {
    color : $theme-color1;
    text-decoration : none;
    background-color : transparent;
}
*/

/*
#breadcrumb a {
    color : $theme-light;
    text-decoration : none;
    background-color : transparent;
}
*/

html,body {
    min-height: 100%
  }


// BUG this is where carousel height is set 
.carousel-item {
    height: 20vh;
    min-height: 230px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.theme-body {
    margin-top : 62px; 
    margin-bottom : 64px;
}

/*
.theme-header {

}
.theme-content {

}
*/

.theme-footer {
    position: fixed; 
    width: 100%; 
    left: 0; 
    bottom: 0;
}

.theme-image-profile {
    width : 150px;
    height : 250px;
}

.theme-image-header {
    width : 2560px;
    height : 640px;
}

.theme-image-square {
    width : 300px;
    height : 300px;
}

.theme-image-profile {
    width : 150px;
    height : 250px;
}

.theme-image-vertical {
    width : 800px;
    height : 1200px;
}

.theme-image-horizontal {
    width : 1200px;
    height : 800px;
}

.theme-image-teaser {
    width : 700px;
    height : 394px;
}

.theme-image-background {
    width : 1920px;
    height : 1080px;
}

.theme-href {
    text-decoration: none;
}    