// v1.2.135 _sass/_theme3.scss

// color
$snooey-color1: #35322D;
$snooey-color2: #8C8174;
$snooey-color3: #BFB4A9;
$snooey-color4: #8A92A3;
$snooey-color5: #9FA6AC;

// Image 
$snooey-unsplash: "https://source.unsplash.com/vS7LVkPyXJU/";
$snooey-background-pattern: "/assets/images/theme3/background-pattern.png";
$snooey-background: "/assets/images/theme3/background.jpg";
$snooey-horizontal: "/assets/images/theme3/horizontal.png";
$snooey-vertical: "/assets/images/theme3/vertical.png";
$snooey-square: "/assets/images/theme3/square.png";
$snooey-profile: "/assets/images/theme3/profile.jpg";
$snooey-header: "/assets/images/theme3/header.jpg";
$snooey-teaser: "/assets/images/theme3/teaser.jpg";