// v1.2.135 _sass/_theme1.scss

// color 
$custom-color1: rgba(29, 53, 87, 1);
$custom-color2: rgba(69, 123, 157, 1);
$custom-color3: rgba(168, 218, 220, 1);
$custom-color4: rgba(241, 250, 238, 1);
$custom-color5: rgba(230, 57, 70, 1);

// image
$custom-unsplash: "https://source.unsplash.com/4T5MTKMrjZg/";
$custom-background-pattern: "/assets/images/theme1/background-pattern.png";
$custom-background: "/assets/images/theme1/background.jpg";
$custom-horizontal: "/assets/images/theme1/horizontal.png";
$custom-vertical: "/assets/images/theme1/vertical.png";
$custom-square: "/assets/images/theme1/square.png";
$custom-profile: "/assets/images/theme1/profile.jpg";
$custom-header: "/assets/images/theme1/header.jpg";
$custom-teaser: "/assets/images/theme1/teaser.jpg";