// v1.2.135 _sass/_theme2.scss

// color
$custom-color1: rgba(37, 36, 34, 1);
$custom-color2: rgba(64, 61, 57, 1);
$custom-color3: rgba(204, 197, 185, 1);
$custom-color4: rgba(255, 252, 242, 1);
$custom-color5: rgba(235, 94, 40, 1);

// Image
$custom-unsplash: "https://source.unsplash.com/-Pg63JThyCg/"; 
$custom-background-pattern: "/assets/images/theme2/background-pattern.png";
$custom-background: "/assets/images/theme2/background.jpg";
$custom-horizontal: "/assets/images/theme2/horizontal.png";
$custom-vertical: "/assets/images/theme2/vertical.png";
$custom-square: "/assets/images/theme2/square.png";
$custom-profile: "/assets/images/theme2/profile.jpg";
$custom-header: "/assets/images/theme2/header.jpg";
$custom-teaser: "/assets/images/theme2/teaser.jpg";