// v1.2.135 _sass/_theme2.scss

// color
$snooey-color1: rgba(37, 36, 34, 1);
$snooey-color2: rgba(64, 61, 57, 1);
$snooey-color3: rgba(204, 197, 185, 1);
$snooey-color4: rgba(255, 252, 242, 1);
$snooey-color5: rgba(235, 94, 40, 1);

// Image
$snooey-unsplash: "https://source.unsplash.com/-Pg63JThyCg/"; 
$snooey-pattern: "/assets/images/theme2/pattern.jpg";
$snooey-background: "/assets/images/theme2/background.jpg";
$snooey-horizontal: "/assets/images/theme2/horizontal.jpg";
$snooey-vertical: "/assets/images/theme2/vertical.jpg";
$snooey-square: "/assets/images/theme2/square.jpg";
$snooey-profile: "/assets/images/theme2/profile.jpg";
$snooey-header: "/assets/images/theme2/header.jpg";
$snooey-teaser: "/assets/images/theme2/teaser.jpg";