// v1.2.135 _sass/_theme1.scss

// color 
$snooey-color1: rgba(29, 53, 87, 1);
$snooey-color2: rgba(69, 123, 157, 1);
$snooey-color3: rgba(168, 218, 220, 1);
$snooey-color4: rgba(241, 250, 238, 1);
$snooey-color5: rgba(230, 57, 70, 1);

// image
$snooey-unsplash: "https://source.unsplash.com/4T5MTKMrjZg/";
$snooey-pattern: "/assets/images/theme1/pattern.jpg";
$snooey-background: "/assets/images/theme1/background.jpg";
$snooey-horizontal: "/assets/images/theme1/horizontal.jpg";
$snooey-vertical: "/assets/images/theme1/vertical.jpg";
$snooey-square: "/assets/images/theme1/square.jpg";
$snooey-profile: "/assets/images/theme1/profile.jpg";
$snooey-header: "/assets/images/theme1/header.jpg";
$snooey-teaser: "/assets/images/theme1/teaser.jpg";