// v1.2.135 _sass/_theme4.scss

// color 
$snooey-color1:#3C4B4C;
$snooey-color2: #6E817A;
$snooey-color3: #2E3218;
$snooey-color4: #CC7834;
$snooey-color5: #BF211D;

// image 
$snooey-unsplash: "https://source.unsplash.com/bepwY8khinw/";
$snooey-pattern: "/assets/images/theme4/pattern.jpg";
$snooey-background: "/assets/images/theme4/background.jpg";
$snooey-horizontal: "/assets/images/theme4/horizontal.jpg";
$snooey-vertical: "/assets/images/theme4/vertical.jpg";
$snooey-square: "/assets/images/theme4/square.jpg";
$snooey-profile: "/assets/images/theme4/profile.jpg";
$snooey-header: "/assets/images/theme4/header.jpg";
$snooey-teaser: "/assets/images/theme4/teaser.jpg";