// v1.2.135 _sass/_theming.scss

//custom-images
$snooey-images: () !default;
$snooey-images: map-merge((
        "unsplash": $snooey-unsplash,
        "pattern":   $snooey-pattern,
        "background": $snooey-background,
        "horizontal": $snooey-horizontal,
        "vertical": $snooey-vertical,
        "square": $snooey-square,
        "header": $snooey-header,
        "teaser": $snooey-teaser,
        "profile": $snooey-profile), $snooey-images);

// custom-colors
$snooey-colors: () !default;
$snooey-colors: map-merge((
        "color1": $snooey-color1,
        "color2": $snooey-color2,
        "color3": $snooey-color3,
        "color4": $snooey-color4,
        "color5": $snooey-color5), $snooey-colors);



// .snooey-bg-{color}
@each $name,$value in $snooey-colors {
    .snooey-bg-#{$name} {
        background-color: $value;
    }}
// snooey-mix
@each $name,$value in $snooey-colors {
    @for $i from 20 through 100 {
        @if $i % 10 == 0 {
          $percentage: $i*1%;
          .snooey-bg-#{$name}-d#{$i} {
            background-color: mix(black, $value, $percentage);
          }
          .snooey-bg-#{$name}-l#{$i} {
            background-color: mix(white, $value, $percentage);
          }
          .snooey-#{$name}-d#{$i} {
            color: mix(black, $value, $percentage);
          }
          .snooey-#{$name}-l#{$i} {
            color: mix(white, $value, $percentage);
          }
        }
      }
    }



// .snooey-bg-{image}
@each $name,$value in $snooey-images {
    .snooey-bg-#{$name} {
        background: url('#{$value}');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }}

// .snooey-bg-{image}-fixed
@each $name,$value in $snooey-images {
    .snooey-bg-#{$name}-fixed {
        background: url('#{$value}/') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }}

// .snooey-text-{color}
@each $name,$value in $snooey-colors {
    .snooey-text-#{$name} {
        color: $value;
    }}

// todo!  migrate the patterns in custom 
.snooey-pattern-dr {
    background: url('/assets/images/secondary-pattern.png'), linear-gradient(to left, #4C5657, #253036);}


html,body {
    min-height: 100%
  }

// BUG this is where carousel height is set 
.carousel-item {
    height: 20vh;
    min-height: 230px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
// .snooey-body
.snooey-body {
    margin-top : 62px; 
    margin-bottom : 64px;
}

// .snooey-header 
//.snooey-header {
//
//}
//.snooey-content {
//
//}

//.snooey-footer
.snooey-footer {
    position: fixed; 
    width: 100%; 
    left: 0; 
    bottom: 0;}


// TODO! optimise this 

//.snooey-imagesize
.snooey-imagesize-profile {
    width : 150px;
    height : 250px;
}
.snooey-imagesize-header {
    width : 2560px;
    height : 640px;
}

.snooey-imagesize-square {
    width : 300px;
    height : 300px;
}

.snooey-imagesize-profile {
    width : 150px;
    height : 250px;
}

.snooey-imagesize-vertical {
    width : 800px;
    height : 1200px;
}

.snooey-imagesize-horizontal {
    width : 1200px;
    height : 800px;
}

.snooey-imagesize-teaser {
    width : 700px;
    height : 394px;
}

.snooey-imagesize-background {
    width : 1920px;
    height : 1080px;
}

//custom-href
.snooey-href {
    text-decoration: none;
}    