/* 
v1.2.121 _sass/_theme0.scss 
#41433F
#ABA9A7
#80817A
#929C8D
#93949C
*/

// color 
$theme-color1: rgba(59, 60, 57, 1);
$theme-color2: rgba(166, 165, 163, 1);
$theme-color3: rgba(120, 121, 113, 1);
$theme-color4: rgba(139, 148, 132, 1);
$theme-color5: rgba(139, 140, 148, 1);

// gradient
$theme-gradient-top: linear-gradient(0deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-right: linear-gradient(90deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-bottom: linear-gradient(180deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-left: linear-gradient(270deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-top-right: linear-gradient(45deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-bottom-right: linear-gradient(135deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-top-left: linear-gradient(225deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-bottom-left: linear-gradient(315deg, #1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);
$theme-gradient-radial: radial-gradient(#1d3557ff, #457b9dff, #a8dadcff, #f1faeeff, #e63946ff);

// customize
$theme-light: white;
$theme-dark: black;

// Image 
$theme-unsplash1: "https://source.unsplash.com/NgHG0szvwQk/";
$theme-unsplash2: "https://source.unsplash.com/NgHG0szvwQk/";
$theme-unsplash3: "https://source.unsplash.com/NgHG0szvwQk/";
$theme-unsplash4: "https://source.unsplash.com/NgHG0szvwQk/";
$theme-unsplash5: "https://source.unsplash.com/NgHG0szvwQk/";
$theme-unsplash6: "https://source.unsplash.com/NgHG0szvwQk/";
$theme-unsplash7: "https://source.unsplash.com/NgHG0szvwQk/";

$theme-background-pattern: "/assets/images/theme0/background-pattern.png";
$theme-background: "/assets/images/theme0/background.jpg";
$theme-horizontal: "/assets/images/theme0/horizontal.png";
$theme-vertical: "/assets/images/theme0/vertical.png";
$theme-square: "/assets/images/theme0/square.png";
$theme-profile: "/assets/images/theme0/profile.jpg";
$theme-header: "/assets/images/theme0/header.jpg";
$theme-teaser: "/assets/images/theme0/teaser.jpg";